:root {
  --main-text-color: #655454;
  --dark-text-color: #3f3f35;
  --box-light-color: #ede7e6;
  --box-dark-color: #d8c2bd;
  --box-lighter-color: #e1d9d6;
  --colored-text-color: #89645b;
  --dark-hover-color: #7c7979;
  --borders-color: #3f3f364d;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: Roboto, Georgia, "Times New Roman", Times, serif;
  margin: 0;
  background: rgb(249, 247, 247);
}

.main__container {
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 32px 0 var(--box-dark-color);
  margin: 40px;
  background: var(--box-light-color);
}

/* ------HEADER-------> */
.header__container {
  position: fixed;
  height: 85px;
  width: 100%;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  background-color: var(--box-dark-color);
  border-bottom: 2.5px dotted rgba(63, 63, 54, 30%);
}

.header__image-container {
  width: 30%;
  margin: 5px 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__image {
  height: 90%;
}

.header__links-container {
  width: 70%;
}

.header__links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 150px;
  margin-left: 150px;
  font-weight: 500;
}

.header__link {
  margin: 20px;
  border-left: 1.2px solid var(--main-text-color);
  padding-left: 70px;
  justify-self: center;
  color: var(--main-text-color);
  font-size: 1.1rem;
}

.header__link:nth-child(1) {
  border-left: none;
  font-size: 1.2rem;
}

.header__link:hover {
  color: var(--box-light-color);
}
/* <------HEADER-------- */

/* ------MAIN INFO-------> */
.container-info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  margin: 150px 40px 0px;
}

.info-left {
  height: 300px;
  width: 50%;
  position: relative;
  padding: 30px;
}

.info-left__text {
  font-family: "Dancing Script", cursive;
  font-weight: 400;
  font-size: 26px;
  letter-spacing: 2px;
  word-spacing: 5px;
  color: var(--main-text-color);
  justify-self: center;
  text-align: center;
  text-shadow: 8px 8px 44px var(--colored-text-color);
  margin-top: 70px;
  word-spacing: 5px;
  text-align: justify;
  line-height: 150%;
}

.info-left__text--span {
  font-weight: bold;
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
}

.info-right {
  height: 300px;
  width: 50%;
  position: relative;
  margin: 0 20px 50px 0px;
  display: flex;
  justify-content: center;
}

.info-right__img {
  height: 400px;
  background: var(--box-light-color);
  box-shadow: 31px 31px 45px var(--box-dark-color),
    -31px -31px 45px var(--box-light-color);
  border-radius: 5%;
  transform: perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg);
  filter: blur(2px);
  opacity: 0.5;
  transition: 0.6s ease all;
}

.info-right__img:hover {
  transform: perspective(800px) rotateY(-15deg) translateY(-50px) rotateX(10deg)
    scale(1);
  filter: blur(0);
  opacity: 1;
}
/* <------MAIN INFO------- */

/* -------PORTFOLIO---------> */
.portfolio__container {
  padding-top: 100px;
  margin-bottom: 100px;
}

.portfolio__header {
  text-align: center;
  font-weight: 800;
  font-size: 2.6rem;
  color: var(--main-text-color);
  margin: 10px;
  font-family: "Dancing Script", cursive;
}

.portfolio__info {
  font-size: 1.3rem;
  color: var(--main-text-color);
  margin: 10px;
  width: 100%;
  text-align: justify;
  padding: 0 70px;
  line-height: 150%;
  font-weight: 500;
}

.portfolio__photos {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  border: 2.5px dotted var(--borders-color);
  box-shadow: 0 8px 32px 0 var(--box-dark-color);
  border-radius: 20px;
  overflow: hidden;
  font-style: oblique;
  margin: 10px 40px;
}

.portfolio__items {
  margin: 20px 20px 5px 20px;
  width: 25%;
  display: flex;
  flex-direction: column;
}

.portfolio__paragraph {
  font-style: normal;
  font-size: 1.1rem;
  text-align: justify;
  color: var(--main-text-color);
  font-weight: 500;
  line-height: 120%;
}

.portfolio__photo {
  width: 250px;
  height: 150px;
  border: 2px solid var(--borders-color);
  border-radius: 10px 100px / 120px;
  transition: 0.4s all ease-in-out;
}

.portfolio__photo:hover {
  transform: scale(1.2);
}

.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 2rem;
  text-wrap: wrap;
}
.portfolio__button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.portfolio__button-more {
  padding: 2px 20px;
  margin: 20px 20px;
  align-self: flex-end;
  padding: 20px 30px;
  border-radius: 20px;
  border: none;
  font-size: 1rem;
  color: var(--dark-text-color);
  background-color: var(--box-dark-color);
  transition: 0.4s;
}

.portfolio__button-more:hover {
  color: var(--box-light-color);
  background-color: var(--dark-hover-color);
}
/* <-------PORTFOLIO--------- */

/* -------PRICING---------> */
.pricing__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 200px;
  flex-direction: column;
}

.pricing__header {
  text-align: center;
  font-weight: 800;
  font-size: 2.6rem;
  color: var(--main-text-color);
  margin: 10px;
  font-family: "Dancing Script", cursive;
}

.pricing__content-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing__content {
  width: 200px;
  height: 350px;
}

.pricing__option--single,
.pricing__option--pack,
.pricing__option--custom {
  background-color: var(--box-dark-color);
  margin: 30px;
  border-radius: 20px;
}

.pricing__content-header {
  color: var(--main-text-color);
  text-align: center;
  position: relative;
  top: 30px;
  font-size: 1rem;
  text-transform: uppercase;
}

.pricing__value-container {
  background-color: var(--box-lighter-color);
  border-radius: 20px;
  padding: 10px 20px;
  position: relative;
  top: 40px;
  left: -20px;
  width: 240px;
  font-weight: bold;
  font-size: 1.8rem;
  color: var(--colored-text-color);
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  transition: 0.4s;
}

.pricing__value-container:hover {
  background-color: var(--colored-text-color);
  color: var(--box-light-color);
}

.pricing__description {
  font-size: 1.2rem;
  position: relative;
  top: 50px;
  color: var(--main-text-color);
}

.pricing__description li {
  text-transform: lowercase;
}

.pricing__description-minus {
  list-style-type: "- ";
}

.pricing__description-plus {
  list-style-type: "+ ";
}

/* JS MODAL */
.portfolio__modal {
  height: 470px;
  width: 700px;
  background-color: var(--box-light-color);
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  box-shadow: 0px 0px 36px -24px #42445a;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--main-text-color);
}

.portfolio__image-container {
  width: 50%;
  margin: 20px;
}

.portfolio__image {
  position: relative;
  width: 90%;
  border: 2px solid var(--borders-color);
  margin: 100px 10px;
  border-radius: 10px 100px / 120px;
}

.modal__button-close {
  position: absolute;
  top: 20px;
  right: 10px;
  margin-right: 16px;
  height: 24px;
  width: 24px;
  color: var(--dark-text-color);
  background-color: var(--box-dark-color);
  border: none;
  color: var(--dark-text-color);
  transition: 0.4s;
}

.modal__button-close:hover {
  background-color: var(--main-text-color);
  border: none;
  color: var(--box-light-color);
}

.portfolio__info-container {
  width: 50%;
  padding-top: 30px;
  margin: 20px 20px 20px 0px;
  display: flex;
  flex-direction: column;
}

.portfolio__title {
  margin: 20px;
  color: var(--dark-text-color);
  text-align: left;
  font-style: normal;
  font-size: 1.8rem;
}

.portfolio__price {
  margin: 20px;
  color: var(--dark-text-color);
  text-align: left;
  font-style: normal;
  font-size: 1.5rem;
}

.portfolio__tags-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.portfolio__tag {
  margin: 20px 0px 20px 20px;
  font-style: normal;
  font-size: 1.2rem;
  color: var(--colored-text-color);
  border: 2px solid var(--colored-text-color);
  padding: 10px 15px;
  border-radius: 20px;
  font-weight: 400;
  transition: 0.4s;
}

.portfolio__tag:hover {
  margin: 20px 0px 20px 20px;
  font-style: normal;
  font-size: 1.2rem;
  color: var(--box-light-color);
  background-color: var(--colored-text-color);
  border: 2px solid var(--colored-text-color);
}

.portfolio__location-text {
  font-style: normal;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 20px;
}

.portfolio__button-buy {
  margin: 30px 20px;
  align-self: flex-end;
  padding: 20px 30px;
  border-radius: 20px;
  border: none;
  font-size: 1rem;
  color: var(--dark-text-color);
  background-color: var(--box-dark-color);
  transition: 0.4s;
}

.portfolio__button-buy:hover {
  color: var(--box-light-color);
  background-color: var(--dark-hover-color);
}

.portfolio__button-buy:active {
  background: var(--box-lighter-color);
}

.portfolio__error-modal {
  z-index: 3;
  height: 200px;
  width: 400px;
  background-color: var(--box-light-color);
  position: absolute;
  border: 2px solid #ff0000;
  border-radius: 20px;
  box-shadow: 0px 0px 36px -24px #42445a;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolio__error-text {
  color: var(--dark-text-color);
  font-size: 1.2rem;
  font-style: normal;
  margin: 60px 30px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000005a;
  z-index: 2;
}

.overlay__basket {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000005a;
  z-index: 2;
}

.basket__modal {
  min-height: 400px;
  width: 700px;
  background-color: var(--box-light-color);
  position: absolute;
  z-index: 3;
  border-radius: 20px;
  box-shadow: 0px 0px 36px -24px var(--dark-text-color);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--main-text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.basket__products-container {
  display: flex;
  flex-direction: column;
  height: 90%;
  margin: 40px;
}

.basket__total-cost-container {
  margin: 40px;
  text-align: right;
}

.basket__total-cost-text {
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 30px;
}

.basket__product-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 5px 30px 5px 10px;
}

.basket__image-container {
  margin: 5px;
  display: flex;
  flex-direction: row;
}

.basket__image {
  position: relative;
  height: 50px;
  width: 80px;
  border: 2px solid var(--borders-color);
  margin: 10px;
  border-radius: 10px 100px / 120px;
}

.price-modal__button-close {
  position: absolute;
  top: 20px;
  right: 10px;
  margin-right: 16px;
  height: 24px;
  width: 24px;
  color: var(--dark-text-color);
  background-color: var(--box-dark-color);
  border: none;
  color: var(--dark-text-color);
  transition: 0.4s;
}

.price-modal__button-close:hover {
  background-color: var(--main-text-color);
  border: none;
  color: var(--box-light-color);
}

.basket__empty-container {
  height: 400px;
}

.basket__empty-text {
  text-align: center;
  margin: 200px;
  font-size: 1.4rem;
}

.basket__price {
  margin-left: 5px;
  font-weight: 600;
}

.basket__buy-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.basket__buy-button {
  padding: 2px 20px;
  margin: 20px 20px;
  align-self: flex-end;
  padding: 20px 30px;
  border-radius: 20px;
  border: none;
  font-size: 1rem;
  color: var(--dark-text-color);
  background-color: var(--box-dark-color);
  transition: 0.4s;
}

.basket__buy-button:hover {
  color: var(--box-light-color);
  background-color: var(--dark-hover-color);
}

.basket__buy-button:active {
  background: var(--box-lighter-color);
}
