:root {
  --main-text-color: rgb(60, 60, 60);
  --dark-text-color: rgb(50, 49, 49);
  --box-light-color: rgb(214, 214, 214);
  --box-dark-color: rgb(171, 169, 169);
}

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Georgia, "Times New Roman", Times, serif;
}

/*------PM-------*/

.containter-info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
  margin: 40px;
  background: rgba(255, 251, 251, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.info-left {
  height: 300px;
  width: 50%;
  position: relative;
  padding: 30px;
}

.info-left__text {
  font-weight: 600;
  font-size: 20px;
  color: var(--main-text-color);
  justify-self: center;
  text-align: center;
  text-shadow: 0px 8px 22px rgba(66, 68, 90, 1);
  margin-top: 100px;
  word-spacing: 5px;
}

.info-right {
  height: 300px;
  width: 50%;
  position: relative;
  margin: 0 20px 50px 0;
}

.info-right__img {
  height: 400px;
  background: #e0e0e0;
  box-shadow: 31px 31px 45px #929292, -31px -31px 45px #ffffff;
  border-radius: 5%;
  transform: perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg);
  filter: blur(2px);
  opacity: 0.5;
  transition: 0.6s ease all;
}
.info-right__img:hover {
  transform: perspective(800px) rotateY(-15deg) translateY(-50px) rotateX(10deg)
    scale(1);
  filter: blur(0);
  opacity: 1;
}

/*-------------*/

.portfolio_photos {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  border: 4mm ridge rgba(143, 144, 132, 0.5);
  box-shadow: 20px 13px 42px -1px rgba(61, 61, 66, 1);
  border-radius: 5%;
  overflow: hidden;
  font-size: 1.5rem;
  font-style: oblique;
  font-weight: 600;
}

.photos {
  width: 100%;
  height: auto;
  border: 4mm ridge rgba(143, 144, 132, 0.5);
  border-radius: 10px 100px / 120px;
  transition: 1s all ease-in-out;
}
.photos:hover {
  transform: scale(1.3);
}
.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 2rem;
  text-wrap: wrap;
}
.div-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 80px;
}
.btn {
  border: 4 solid black;
  line-height: 2.5;
  padding: 2px 20px;
  font-size: 1.5rem;
  text-align: center;
  color: wheat;
  text-shadow: 11px 5px 25px rgba(66, 68, 90, 1);
  border-radius: 15px;
  background-color: rgb(204, 204, 204);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(143, 144, 132, 0.5);
}
.btn:hover {
  background-color: rgba(17, 16, 16, 0.5);
}

/* -------MK--------- */

.pricing__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing__content {
  width: 200px;
  height: 350px;
}

.pricing__option--single,
.pricing__option--pack,
.pricing__option--custom {
  background-color: var(--box-light-color);
  margin: 30px;
  border-radius: 20px;
}

.pricing__content-header {
  color: var(--main-text-color);
  text-align: center;
  position: relative;
  top: 30px;
}

.pricing__value {
  background-color: var(--box-dark-color);
  border-radius: 20px;
  padding: 10px 20px;
  position: relative;
  top: 40px;
  left: -20px;
  width: 240px;
  font-weight: bold;
  font-size: 1.8rem;
}

.pricing__value p {
  color: var(--dark-text-color);
  text-align: center;
}

.pricing__description {
  font-size: 1.2rem;
  position: relative;
  top: 50px;
}

.pricing__description li {
  text-transform: lowercase;
}

.pricing__description-minus {
  list-style-type: "- ";
}

.pricing__description-plus {
  list-style-type: "+ ";
}

/* JS MODAL */
.portfolio__modal {
  height: 400px;
  width: 700px;
  background-color: #ffffff;
  position: absolute;
  z-index: 1;
  display: flex;
  border: 2px solid #929292;
}

.portfolio__image {
  position: relative;
  width: 40%;
  border: 2px solid #929292;
  margin: 50px 30px;
}

.modal__button-close {
  position: absolute;
  top: 20px;
  right: 10px;
  margin-right: 16px;
  height: 24px;
  width: 24px;
  color: #343232;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000005a;
  z-index: 0;
}
